<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.system-extension.install</key>
	<true/>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>$(DN_EXTENSION_XPC_IDENTIFIER)</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-register.global-name</key>
	<array>
		<string>com.dnshield.daemon.xpc</string>
		 <string>com.apple.systemextensionsd</string>
	</array>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-write</key>
	<array>
		<string>/var/db/dnshield/rules.db</string>
		<string>/Library/Application Support/DNShield/</string>
		<string>/Library/Logs/DNShield/</string>
		<string>/var/run/dnshield.pid</string>
	</array>
	<key>com.apple.security.app-sandbox</key>
	<false/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.C6F9Y6M584.com.gemini.dnshield</string>
	</array>
    <!-- Network Extension Management -->
    <key>com.apple.developer.networking.networkextension</key>
    <array>
         <string>dns-proxy-systemextension</string>
    </array>
</dict>
</plist>
